@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?2x049a');
    src:    url('fonts/icomoon.eot?2x049a#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2x049a') format('truetype'),
        url('fonts/icomoon.woff?2x049a') format('woff'),
        url('fonts/icomoon.svg?2x049a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e900";
}
.icon-align-left:before {
    content: "\e899";
}
.icon-close:before {
    content: "\e909";
}
.icon-download:before {
    content: "\e906";
}
.icon-file:before {
    content: "\e901";
}
.icon-angle-right:before {
    content: "\e902";
}
.icon-angle-left:before {
    content: "\e903";
}
.icon-search:before {
    content: "\e904";
}