@import 'mixins';
@import 'partials/variables';
@import 'modules/archive',
		'modules/article',
		'modules/forms',
		'modules/home',
		'modules/issue',
		'modules/journal_theme',
		'modules/layout',
		'modules/lists',
		'modules/navs',
		'modules/search',
		'modules/sidebar',
		'modules/slideshow',
		'modules/type',
		'partials/overrides';

html,body{
	min-height: 100%;
	margin: 0;
	padding: 0;
}
/* Altmetric -------------------*/
.toc-info{
    .altmetric-badge{
        height: $smallAltmetricBadge!important;
    }
}
#altmetric-top{
	margin: 0;
    padding: 0;
    li{
        &:first-child{
            p{
                margin-top: 0px;
            }
        }
        &:last-child{
            p{
                margin-bottom: 0;
            }
        }
        p{
            a{
                .altmetric-badge{
                    height: $smallAltmetricBadge!important;
                }
            }
        }
    }
}
#altmetric-top::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 10px;
	background-color: $gray-light;
}
#altmetric-top::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: $cello;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.altmetric-list-badge{
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
.altmetric-title-link{
	display: table;
}

/* Buttons ------------------------*/
.btn.active{
	background: $gray-2;
	pointer-events: none;
}

/* Editorial Board ----------------------*/
.edboard-address{
	color: $gray-blue;
	font-size: $fontSizeTinyTiny;
}
.edboard-name{
	pointer-events: none;
}
.edboard-list{
	li{
		margin-bottom: $margin-sm;
	}
	.email-link{
		font-size: $fontSizeTiny;
	}
}
.edboard-list-sidebar{
	font-size: $fontSizeTiny;
	.edboard-address{
		font-style: italic;
	}
}

/* Interviews ----------------------*/
.interview-tag{
	border: 1px solid;
	display: block;
	float: left;
	margin: 0px $margin-sm $margin-sm 0px;
	padding: $pad-xs;
	width: auto;
}

/* Loading  ------------------------*/
.sp {
    width: 32px;
    height: 32px;
    clear: both;
    margin: 50px auto;
}
.sp-circle {
    border: 4px rgba($kashmir, 0.25) solid;
    border-top: 4px rgba($kashmir, 1) solid;
    border-radius: 50%;
    -webkit-animation: spCircRot 1.5s infinite linear;
    animation: spCircRot 1.5s infinite linear;
}
@-webkit-keyframes spCircRot {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
.faint-shadow {
    background: #fff;
    box-shadow: 0px 2px 14px rgba(235, 237, 242, 1);
}

/* MISC ------------------------*/
.border-dot{
	border-top: 1px dotted $gray-2;
	display: block;
}
.box{
	background-color: $gray-0;
	border: 1px solid $gray-faint-2;
	display: block;
	float: left;
	padding: $pad-sm;
	margin: $margin-sm 0;
	width: 100%;
}
.pointer{
	cursor: pointer;
}
.no-margin{
	margin: 0px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.full-width {
    width: 100%;
    display: block;
}
/* News ------------------------*/
.news-list{
    li:last-child{
        margin-bottom: 0px!important;
        padding-bottom: 0px!important;
    }
}

/* Section Pages --------------*/
.section-content{
	ul{
		list-style: disc;
		li{
			list-style: disc;
		}
	}
	ol, ul{
		padding-left: $pad-lg;
	}
}

/* TOC Signup ------------------------*/
.toc-signup-button{
    color: $white!important;
    cursor: pointer;
    font-weight: 700;
    margin: 0.5rem 0 1rem 0!important;
    padding: 10px 0px 10px 25px!important;
    text-align: left! important;
    text-transform: none!important;
    &:hover{
        color: $white!important;
    }
}


/* Tooltips ------------------------*/
$cubic: cubic-bezier(.64,.09,.08,1);

[class^="tooltip"] {
    position: relative;
    z-index: 10;
    &:after {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        content: attr(data-tooltip);
        padding: 12px 15px;
        width: 350px;
        bottom: 1.8em;
        left: 50%;
        transform: translateX(-50%) translateY(-2px);
        background: $gray-mid;
        color: $white;
        white-space: normal;
        display: inline-block;
        line-height: 1.3;
        z-index: 2;
        border-radius: 2px;
        transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    }
    &:hover {
        &:after {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0);
        }
    }

    &.small {
        &:after {
            max-width: 165px;
            padding: 7px;
            background: $gray-mid;
            color: $white;
            bottom: 3.55em;
        }
    }
}
.tooltip--triangle {
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: solid 7px transparent;
        border-right: solid 7px transparent;
        border-top: solid 6px $gray-mid;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: translateX(-50%) translateY(-2px);
        bottom: 1.45em;
        left: 50%;
        transition: opacity 0.2s $cubic, transform 0.2s $cubic;
        z-index: 3;
    }
    &:hover {
        &:before {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0);
        }
    }

    &.small {
        &:before {
            border-top: solid 6px $blue-electric;
            bottom: 3.2em;
        }
    }

    &.pubmed {
        &:after { bottom: 3.85em; }
        &:before { bottom: 3.5em; }
    }
}
.divider {
  height: 3px;
  background: #EAECF0;
}

/* Reprint Form / Conference Form -----------------------*/
#print-request, #conference-request{
    label{
        color: $gray-deep;
        font-weight: bold;
        width: 100%;
    }
    textarea{
        padding-bottom: 0px;
    }
    ::-webkit-input-placeholder {
      color: $gray-mid;
    }
    ::-moz-placeholder {
      color: $gray-mid;
    }
    :-ms-input-placeholder {
      color: $gray-mid;
    }
    :-moz-placeholder {
      color: $gray-mid;
    }
    .invalid + label:after {
        top: 40px;
    }
    textarea.invalid + label:after {
        top: 50px;
    }
    label.active:after {
        top: 60px;
    }

    textarea + label.active:after {
        top: 70px;
    }
}
#print-request-title {
    height:120px;
}
