@mixin border-radius($radius) {
    -webkit-border-radius: $radius!important;
    -moz-border-radius: $radius!important;
    -ms-border-radius: $radius!important;
    border-radius: $radius!important;
}

@mixin opacity($value) {
    -webkit-opacity: $value!important;
    -moz-opacity: $value!important;
    -ms-opacity: $value!important;
    opacity: $value!important;
}

@mixin backface-visibility($value) {
    -webkit-backface-visibility: $value!important;
    -moz-backface-visibility: $value!important;
    -ms-backface-visibility: $value!important;
    backface-visibility: $value!important;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// FANCY CSS STUFF
@mixin padding-horiz($value) {
    padding-left: $value;
    padding-right: $value;
}
@mixin padding-vertical($value) {
    padding-top: $value;
    padding-bottom: $value - 2;
}

@mixin get-bg-hover($value, $amt) {
    background-color: $value;
    &:hover {
        background-color: lighten($value, $amt);
    }
}

.uppercase-titles {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 700;
}

@mixin clearfix {
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

/*============================================================================
Dependency-free breakpoint mixin
- http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
$small: 750px;
$medium: 970px;
$large: 1170px;
$wide: 1460px;

$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
    @if $constraint == $min {
        @media screen and ($min: $viewport1) {
            @content;
        }
    } @else if $constraint == $max {
        @media screen and ($max: $viewport1) {
            @content;
        }
    } @else {
        @media screen and ($min: $viewport1) and ($max: $viewport2) {
            @content;
        }
    }
}
