/**
 * Overrides
 *
 * Some overrides for packages
 * and other hard-to-change code.
 */



/** Materialize
 ---------------------------------------------------------*/
//Collapsible
.collapsible{
    border: 0px;
    box-shadow: none!important;
}
.collapsible-header{
    border: 0px;
    line-height: inherit;
    min-height: auto;
    padding: 0;
}
.collapsible-body{
    border: 0px;
    margin-bottom: $margin-sm;
    padding: $pad-xs 0;
}

// Buttons
.button{
    padding-bottom: $pad-xs!important;
    padding-top: $pad-xs!important;
}

// Grid
.row .col {
    @include padding-horiz(1.7rem);
    &:first-child { margin-left: 0; }
}

.row.no-margin .col {
    &:first-child { padding: 0; }
}
