/**
 * SCSS Variables
 *
 * To be used in other files
 * all here for ease of use.
 */


/* Colors -------------------*/
$black:		    #000000;
$black-0:		#464646;
$black-1:       #333333;

$blue:          #005AC2;
$blue-midnight: #0C1D31;
$blue-electric: #00479B;

$gray-0:		#f5f5f5;
$gray-1:		#666666;
$gray-2:		#999999;
$gray-blue:     #5e737c;
$gray-dark:     #202c3c;
$gray-deep:     #2E4057;
$gray-faint:    #ECF0F1;
$gray-faint-2:	#E2E2E2;
$gray-light:    #E6E8EB;
$gray-mid:      #7C8187;

$green:			#2B7839;
$green-light:   #379649;
$green-lightest:   #27ae60; //menu
$green-super-light: #2ecc71;

$red:			#ef5350;

$teal:          #26A69A;

$white:         #ffffff;

// Accents
$link:          $green;
$accent:        #A11B57;
$darkaccent:    #90134B;

// Text
$cello:         #2E4057;
$kashmir:       #546B87;

/* Altmetric -------------------*/
$smallAltmetricBadge: 54px;
$largeAltmetricBadge: 64px;

/* Margin -------------------*/
$margin-xs:		5px;
$margin-sm:		10px;
$margin-md:		15px;
$margin-lg:		20px;

/* Padding -------------------*/
$pad-xs:		5px;
$pad-sm:		10px;
$pad-md:		15px;
$pad-lg:		20px;

/* Typography -------------------*/
$font-sans: "Arial", sans-serif;
$font-sans-2: tahoma, sans-serif;
$fontSizeH1: 1.5rem;
$fontSizeH2: 1.2rem;
$fontSizeH3: 1rem;
$fontSizeH4: 1rem;
$fontSizeH5: 14px;
$fontSizeH6: 14px;
$fontSizePara: 13px;
$fontSizeTiny: 11px;
$fontSizeTinyTiny: 10px;
// End Typography
