<template name="About">
    <div class="row">
        <div class="col s12 m8 l8">
            {{>PageHeader header="About the Journal"}}

            <!-- todo: fix paragraph spacing in first section?? -->
            <ul class="sectioned-list">
                {{#each sections}}
                <li>
                <h2>{{{title}}}</h2>
                <p class="justify">{{{content}}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>
