<template name="Advance">
	{{>PageHeader header='Advance Online Publications'}}

	<div class="row">
		<div class="col s12">
			{{#if articles}}
			{{>ArticlesList articles=articles}}
            {{else}}
            <h4>Please check back for advance publications.</h4>
			{{/if}}
		</div>
	</div>
</template>
