<template name="Archive">
    {{>PageHeader header="Issue Archive"}}
    {{#if volumes}}
    <div class="row">
        <div class="col s12">
            {{#each volumes}}
                <h2 id="volume{{volume}}">Volume {{volume}}{{#if year}}, {{year}}{{/if}}</h2>

                <div class="row clearfix">
                    <ul>
                        {{#each issues_data}}
                        <li class="archive-issue col s3">
                            <a href="/issue/v{{volume}}i{{issue_linkable}}" class="cover-link">
                                {{#if optimized_urls}}
                                    {{#if optimized_urls.small}}
                                        <img src="{{optimized_urls.small}}" alt="Cover Volume {{volume}}, Issue {{issue}}">
                                        {{else}}
                                        {{#if optimized_urls.medium}}
                                        <img src="{{optimized_urls.medium}}" alt="Cover Volume {{volume}}, Issue {{issue}}">
                                        {{/if}}
                                    {{/if}}
                                    {{else}}
                                    <img src="{{coverPath}}" alt="Cover Volume {{volume}}, Issue {{issue}}">
                                {{/if}}
                            </a>
                            <div class="issue-info">
                                <a href="/issue/v{{volume}}i{{issue_linkable}}">Issue {{issue}}</a>
                                <div class="clearfix"></div>
                                {{#with pages}}{{#if start}}<span>{{>IssuePages}}</span>{{/if}}{{/with}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    {{>Loading}}
    {{/if}}
</template>
