<template name="Conferences">
    <div class="row">
        <div class="col s12 m7 l8">
            <h1>Conferences</h1>

            <h2>Upcoming</h2>
            {{#if future}}
            <ul class="divided-list news-list">
                {{#each future}}
                    {{>NewsListItem .}}
                {{/each}}
            </ul>
            {{else}}
            <h3>Check back for upcoming conferences.</h3>
            {{/if}}

            {{#if past}}
            {{#each past}}
            <h2>Past {{year}}</h2>
            <ul class="divided-list news-list">
                {{#each conferences}}
                    {{>NewsListItem .}}
                {{/each}}
            </ul>
            {{/each}}
            {{/if}}
        </div>
    </div>
</template>
