<template name="ConferenceRequest">
    <div class="row">
        <div class="col s12">
            <h1>{{journalName}} Supports the Conference Community</h1>
            {{{text}}}
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            {{#if processing}}
            {{>Loading}}
            {{else}}
            {{>ConferenceRequestForm}}
            {{/if}}
        </div>
    </div>
</template>

<template name="ConferenceRequestForm">
    <form id="conference-request" class="box">
        <div class="row">
            <div class="col s12">
                <h2>Request Sponsorship</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="input-field">
                    <input id="first_name" class="validate" type="text">
                    <label for="first_name" data-error="First Name is Required" data-success="">First Name *</label>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="input-field">
                    <input id="last_name" class="validate" data-error="Last Name is Required" data-success="" type="text">
                    <label for="last_name" data-error="Last Name is Required">Last Name *</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input id="conference_title" class="validate" type="text">
                    <label for="conference_title" data-error="Conference is Required">Conference Title *</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input id="organization" class="validate" type="text">
                    <label for="organization" data-error="Organization is Required">Organization *</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="input-field">
                    <input id="email" class="validate" type="email">
                    <label for="email" data-error="Email is Required">Your Email Address *</label>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="input-field">
                    <input id="phone" class="validate" type="text">
                    <label for="phone" data-error="Phone Number is Required">Phone Number *</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input id="conference_topic" class="validate" type="text">
                    <label for="conference_topic" data-error="Conference Topic is Required">Conference Topic *</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="input-field">
                    <input id="conference_date_start" type="text" class="datepicker" required>
                    <label for="conference_date_start" data-error="Conference Start Date is Required">Conference Start Date *</label>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="input-field">
                    <input id="conference_date_end" type="text" class="datepicker" required>
                    <label for="conference_date_end" data-error="Conference End Date is Required">Conference End Date *</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <textarea id="conf_description" class="materialize-textarea validate"></textarea>
                    <label for="conf_description" data-error="Description is Required">Please describe your event and how {{journalName}} could fit into it: *</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="full-width button">Submit request</button>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span>* indicates a required field</span>
            </div>
        </div>
    </form>
</template>

<template name="ConferenceRequestComplete">
    <div class="row">
        <div class="col s12">
            <h1>{{journalName}} Supports the Conference Community</h1>
            <h2>Thank you for submitting a conference.</h2>
        </div>
    </div>
</template>
