<template name="Contact">
	<div class="row">
		<div class="col s12">
			{{#with contact}}
				{{#with journal_office}}
					<h3 class="gray-header">Journal Office</h3>

					<div class="left">
						{{#with address}}
						<p>
							{{street}}{{#if suite}}, {{suite}}{{/if}}
							<br/>
							{{city}}{{#if state}}, {{state}}{{/if}}{{#if zip}} {{zip}}{{/if}}
						</p>
						{{/with}}

						{{#with phone}}
						<p>Phone: <a href="tel:{{number}}">{{number}}{{#if option}}, {{option}}{{/if}}</a></p>
						{{/with}}

						{{#if fax}}
						<p>Fax: <a href="fax:{{fax}}">{{fax}}</a></p>
						{{/if}}

						{{#if efax}}
						<p>e-Fax: <a href="fax:{{efax}}">{{efax}}</a></p>
						{{/if}}
					</div>

					{{#if google_map_src}}
					<div class="right journal-office-map">
						<iframe src="{{google_map_src}}" width="255" height="120" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					{{/if}}

					<div class="clearfix"></div>
					{{{text}}}
				{{/with}}

				{{#with editorial}}
					<h3 class="gray-header">Editorial</h3>
					{{{text}}}
				{{/with}}

				{{#with production}}
					<h3 class="gray-header">Production</h3>
					{{{text}}}
				{{/with}}

				{{#with indexing}}
					<h3 class="gray-header">Indexing</h3>
					{{{text}}}
				{{/with}}

				{{#with printing}}
					<h3 class="gray-header">Printing</h3>
					{{{text}}}
				{{/with}}

				{{#with publisher_office}}
					<h3 class="gray-header">Publisher's Office</h3>
					{{{text}}}
				{{/with}}

			{{/with}}
		</div>
	</div>
</template>
