<template name="EdBoard">

    <div class="row">
        <div class="col s12">
            <h2>Editors-in-Chief</h2>
            {{>EdBoardList members=eic showEmails=true ulClass='edboard-list'}}
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <h2>Editorial Board</h2>
            {{>EdBoardList members=board showEmails=true ulClass='edboard-list'}}
        </div>
	</div>
</template>

<template name="bioModal">
    <div id="{{paperchaseId}}" class="modal">
        <div class="modal-content">
            <p class="bio">{{{bio}}}</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close this dialog</a>
        </div>
    </div>
</template>
