<template name="Ethics">
    {{>PageHeader header="Publication Ethics and Publication Malpractice Statements"}}
    <div class="row">
        <div class="col s12">
            {{#each sections}}
            <h2>{{{title}}}</h2>
            <div class="section-content">{{{content}}}</div>
            {{/each}}
        </div>
    </div>
</template>
