<template name="ForAuthors">
    {{>PageHeader header="Information for Authors"}}
    {{#if top}}
    {{#each top}}
    <div class="row">
        <div class="col s12">
            <h2>{{{title}}}</h2>
            {{{content}}}
        </div>
    </div>
    {{/each}}
    {{/if}}
    <div class="row">
        <div class="col s12">
            {{#each sections}}
            <h3 class="gray-header">{{{title}}}</h3>
            <div class="section-content">{{{content}}}</div>
            {{/each}}
        </div>
    </div>
</template>
