<template name="Home">
    <div class="row">
        <div class="col s12 m8" style="padding-right: 0;">
            {{>Slideshow slides=slides}}

            {{#each sections}}
            {{{content}}}
            {{/each}}

            <div class="clearfix"></div>

            {{#if news}}
                {{> LatestNews}}
            {{/if}}

            {{#if altmetricTop}}
                <h2>Top {{altmetricTopCount}} {{journalName}} Publications Rated by Altmetric Attention Score</h2>
                <p style="margin: 0px">
                    <a href="{{pathFor 'TopArticles'}}" class="button view-all-top-home">View All</a>
                </p>
                <ul id="altmetric-top">
                    {{#each altmetricTop}}
                    <li>
                        <p class="valign-wrapper">
                            {{>AltmetricBadgeWithReport ids=ids}}
                            {{#if pii}}
                            <a href="{{pathFor 'ArticleText' id=pii}}" class="valign altmetric-title-link">{{{title}}}</a>
                            {{else}}
                            <a href="{{altmetricDetailsLink}}{{altmetric_id}}" class="valign altmetric-title-link" target="_BLANK">{{{title}}}</a>
                            {{/if}}
                        </p>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

        <div class="col s12 m4" style="padding-right: 0;">
            {{>SideBar}}
        </div>
    </div>
</template>
