<template name="Interviews">
    <div class="row">
        <div class="col s12">
            <h1>Interviews with Outstanding Authors</h1>
            {{#each interviews}}
            <div class="row no-margin">
                <div class="col s12">
                    {{#if title}}<h2>{{{title}}}</h2>{{/if}}
                    <iframe width="470" height="265" src="https://www.youtube.com/embed/{{youTube}}" frameborder="0" allowfullscreen></iframe>
                    <p>{{{content}}}</p>
                    {{#each tags}}
                    <a href="#" class="interview-tag">{{{.}}}</a>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</template>
