<template name="Issue">
    {{> SubscribeModal}}

    <div class="row">
        <div class="col s12">
            {{#if issueData}}
            {{#with issueData}}
            <h1>Volume {{volume}}: Issue {{issue}}</h1>
            {{#with pages}}
            <h2>{{>IssuePages}}</h2>
            {{/with}}
            {{/with}}
            <div class="toc-title">
                {{>tocCover issueData=issueData}}

                <!-- Title Information -->
                <div class="page-title">
                    {{#with issueData}}
                    {{#if caption}}<div class="issue-caption"><h4>About the Cover</h4>{{{caption}}}</div>{{/if}}

                    <br />
                    <a href="/print-request/v{{volume}}i{{issue}}">Order a Reprint</a>

                    {{/with}}
                </div>
            </div>


            {{#with issueData}}

            <ul class="toc-sections">
            {{#each articles}}
                {{#if start_group}}{{#if article_type.name}}{{#with article_type}}
                <li><a href="#{{anchorName name}}">{{#if pluralize}}{{plural}}{{else}}{{name}}{{/if}}</a></li>
                {{/with}}{{/if}}{{/if}}
            {{/each}}
            </ul>

            <!-- Main -->
            {{>ArticlesList}}
            {{/with}}
            {{else}}
            {{>Loading}}
            {{/if}}
        </div>
    </div>
</template>


<template name="ArticlesList">
    {{#if articles}}
        <h2>Table of Contents</h2>
        <div class="row issue-articles">
            {{#each articles}}
                {{>TocArticle article=this}}
            {{/each}}
        </div>
    {{else}}
        {{#if notEmpty articles}}
        {{>Loading}}
        {{else}}
        <h3>Please check back for articles.</h3>
        {{/if}}
    {{/if}}
</template>

<template name="IssuePages">
    pp {{start}}{{#if end}}&mdash;{{end}}{{/if}}
</template>

<template name="TocArticle">
    {{#with article}}
    {{#if start_group}}
        <!-- Section Heading -->
        {{#if article_type.name}}
            {{#with article_type}}
            <h3 class="gray-header toc-heading" id="{{anchorName name}}">{{#if pluralize}}{{plural}}{{else}}{{name}}{{/if}}</h3>
            {{/with}}
        {{/if}}
    {{/if}}

    <div class="toc-info">
        <div class="valign-wrapper title-container">
            {{#if altmetricReady}}
            {{#if ids}}
            {{>AltmetricBadgeWithReport ids=ids}}
            {{/if}}
            {{/if}}

            <h5 class="title valign">
                {{#if files.xml.url}}
                    {{#if files.xml.display}}
                        <a href="{{pathFor 'ArticleText' id=ids.pii}}">
                            {{{title}}}
                        </a>
                    {{else}}
                        {{#if files.pdf.url}}
                            {{#if files.pdf.display}}
                                    <a href="{{files.pdf.url}}">
                                        {{{title}}}
                                    </a>
                                {{else}}
                                    <a href="{{pathFor 'Article' id=ids.pii}}">
                                        {{{title}}}
                                    </a>
                            {{/if}}
                        {{/if}}
                    {{/if}}

                    {{else}}
                    <!-- no XML -->
                        {{#if files.pdf.url}}
                            {{#if files.pdf.display}}
                                    <a href="{{files.pdf.url}}">
                                        {{{title}}}
                                    </a>
                                {{else}}
                                    <a href="{{pathFor 'Article' id=ids.pii}}">
                                        {{{title}}}
                                    </a>
                            {{/if}}
                            {{else}}
                                <a href="{{pathFor 'Article' id=ids.pii}}">
                                    {{{title}}}
                                </a>
                        {{/if}}
                {{/if}}
            </h5>
        </div>

        <!-- Desc Info -->
        {{#with ids}}
        {{#if doi}}
        <p>DOI: <a class="doi-link" href="http://dx.doi.org/{{doi}}">{{prettyDoi doi}}</a></p>
        {{/if}}
        {{/with}}

        {{#if page_start}}
        <p>{{>ArticlePages}}</p>
        {{/if}}

        {{#if authors}}
        <p>{{>AuthorsList}}</p>
        {{/if}}

        <!-- Links -->
        {{>ArticleLinks _id=_id pii=ids.pii abstract=abstract files=files showCrawledText=showCrawledText ids=ids showDoi=false}}
    </div>
    {{/with}}
</template>

<template name="tocCover">
    <div class="cover-image {{#if issueData.largeCover}}large-cover{{else}}small-cover{{/if}}">
        {{#with issueData}}
        <a href="#cover-{{_id}}" class="cover-modal-trigger">
        {{#if optimized_urls}}
            {{#if optimized_urls.medium}}
                <img src="{{optimized_urls.medium}}" alt="{{cover_alt}}">
                {{else}}
                {{#if optimized_urls.large}}
                <img src="{{optimized_urls.large}}" alt="{{cover_alt}}">
                {{/if}}
            {{/if}}
            {{else}}
            <img src="{{coverPath}}" alt="{{cover_alt}}">
        {{/if}}
        </a>
        <div id="cover-{{_id}}" class="modal">
            <div class="modal-content cover-modal">
                {{#if optimized_urls}}
                    {{#if optimized_urls.large}}
                        <img src="{{optimized_urls.large}}" alt="{{cover_alt}}">
                        {{else}}
                        {{#if optimized_urls.medium}}
                        <img src="{{optimized_urls.medium}}" alt="{{cover_alt}}">
                        {{/if}}
                    {{/if}}
                    {{else}}
                    <img src="{{coverPath}}" alt="{{cover_alt}}">
                {{/if}}
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        {{/with}}
    </div>
</template>
