<template name="Header">
    <nav id="header" class="">
        <div class="nav-wrapper valign-wrapper">
            <a href="/" id="header-journal" class="valign brand-logo center">{{journalName}}</a>
            <ul class="valign right header-right">
                <li class="header-social">{{>HeaderSocial}}</li>
                {{#if issn}}<li class="header-issn">Online ISSN: {{issn}}</li>{{/if}}
                <li class="header-search">
                    <form id="header-search-form">
                        <input type="submit" class="button searchbox-button" value="Search" />
                        <div class="header-serach-input">
                            <input class="searchbox-field" type="text" placeholder="search" />
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</template>

<template name="HeaderSocial">
    {{#if socialList}}
    <ul class="social-list">
        {{#each socialList}}
        <li class="social-links"><a href="{{href}}" target="_BLANK"><i class="{{icon}}"></i></a></li>
        {{/each}}
    </ul>
    {{/if}}
</template>

<template name="MainLayout">
    {{#if configLoaded}}
    <div id="main-container" class="{{#if journalClass}}{{journalClass}}{{/if}}">
        {{>Header}}
        {{>Nav}}
        <div class="content-yield">
            {{>yield}}
        </div>
        {{>Footer}}
    </div>
    {{else}}
        {{>Loading}}
    {{/if}}
</template>

<template name="Footer">
    <footer>
        <span>Copyright &copy; {{year}} {{publisher}}<br /> Impact Journals is a registered trademark of Impact Journals, LLC</span>
    </footer>
</template>

<template name="PageHeader">
    <div class="row" style="margin-bottom:0;"><div class="col s12">
        <h1 class="page-header">{{{header}}}</h1>
    </div></div>
</template>

<template name="SideBar">
    <div class="side-bar">
        {{#with latestIssue}}
        <div class="microscope-heading">Latest Issue</div>
        <div class="latest-issue valign-wrapper">
            <a href="/issue/v{{volume}}i{{issue}}" class="valign">
                {{#if optimized_urls}}
                    {{#if optimized_urls.medium}}
                        <img src="{{optimized_urls.medium}}" alt="Cover Volume {{volume}}, Issue {{issue}}" class="cover">
                        {{else}}
                        {{#if optimized_urls.small}}
                        <img src="{{optimized_urls.small}}" alt="Cover Volume {{volume}}, Issue {{issue}}" class="cover">
                        {{/if}}
                    {{/if}}
                    {{else}}
                    <img src="{{coverPath}}" alt="Cover Volume {{volume}}, Issue {{issue}}" class="cover">
                {{/if}}
            </a>
            <div class="latest-issue-links valign">
                <a href="/issue/{{params}}">Read Online</a>
                <a href="{{submitLink}}">Submit an Article</a>
                <br/><br/><br/>
                <a href="{{pathFor 'Archive'}}" class="gray-link">View Archive</a>
            </div>
        </div>
        {{/with}}

        <div class="side-bar-edboard">
            {{#if edBoardEic}}
            <h4>{{#if pluralCheck edBoardEic}}Editors-in-Chief{{else}}Editor-in-Chief{{/if}}</h4>
            {{>EdBoardList members=edBoardEic ulClass='edboard-list-sidebar'}}
            {{/if}}

            {{#if edBoardNew}}
            <h4>New {{#if pluralCheck edBoardNew}}Members{{else}}Member{{/if}}</h4>
            {{>EdBoardList members=edBoardNew ulClass='edboard-list-sidebar'}}
            {{/if}}

            <h4><a href="{{pathFor 'EdBoard'}}">Full Editorial Board</a></h4>
        </div>

        <div class="side-bar-interviews">
            <h3 class="center"><a href="{{pathFor 'Interviews'}}">Interviews with<br/>outstanding authors</a></h3>
            {{#with latestInterview}}
            {{#if title}}<h4>{{{title}}}</h4>{{/if}}
            {{{content}}}
            {{/with}}
        </div>

        <div class="side-bar-conference">
            <a href="{{pathFor 'ConferenceRequest'}}" class="button">Request Conference Sponsorship</a>
        </div>
    </div>
</template>
