<template name="Loading">
	{{#with issueParams}}
	<div class="row">
        <div class="col s12">
			<h1>Volume {{volume}}, Issue {{issue}}</h1>
		</div>
	</div>
	{{/with}}

	{{>Progress}}
</template>

<template name="Progress">
	<div class="sp sp-circle"></div>
</template>
