<template name="Nav">
    <div id="nav">
        <ul class="nav-list">
            {{#each links}}
            <li>
                {{#if route_name}}
                <a href="{{pathFor route_name}}">{{{name}}}</a>
                {{else}}
                {{#if submission}}
                <a href="{{submitLink}}">{{{name}}}</a>
                {{/if}}
                {{/if}}
            </li>
            {{/each}}
        </ul>
        <ul class="nav-list">
            <li>
                <a href="{{pathFor 'Contact'}}">Contact Us</a>
            </li>
        </ul>
        {{#with twitter}}
        <div class="twitter-feed">
            <a class="twitter-timeline" data-width="181" data-theme="light" data-height="550" data-link-color="{{link_color}}" data-border-color="{{border_color}}" data-chrome="nofooter" href="{{url}}">Tweets by {{handle}}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {{/with}}
    </div>
</template>
