<template name="News">
        <div class="page-content">
        {{#if news}}
            <h3>More News</h3>
            <ul class="divided-list">
                {{#each news}}
                    <li class="item">
                        <h4 class="title">{{title}}</h4>
                        <!--<h5 class="meta">{{formatDate date}}</h5>//-->
                        <p>{{{content}}}</p>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        </div>

        <div class="">
            {{>HomePageEditorList}}
        </div>

</template>
