<template name="HomePageEditorList">
    <div class="card">
        <h6 class="card-title">Editors-in-Chief</h6>
        <ul class="editors">
            {{#each eic}}
            <li><a href="#{{name_last}}{{name_first}}" class="modal-trigger"><strong>{{>PersonName}}</strong><br /> {{{address}}}</a></li>
            {{#if bio}}
              {{> bioModal bio=bio firstName=name_first lastName=name_last}}
            {{/if}}
            {{/each}}
            <li><a href="{{pathFor 'EdBoard'}}" class="accent">See All Editors</a></li>
        </ul>
    </div>
</template>

<template name="LatestNews">
    {{#if notEmptyNews news}}
    <h3>Latest News</h3>
    {{/if}}

    <ul class="divided-list news-list">
        {{#each news}}
            {{#if conferenceDateCheckPass .}}
                {{>NewsListItem .}}
            {{/if}}
        {{/each}}
    </ul>
</template>

<template name="NewsListItem">
    <li class="item">
        <p>
            {{#if date_display}}<b>{{formatDate date}}</b>{{/if}}

            {{#if conference}}
                {{#if conference_date_start}}
                <b>{{formatDateSpan conference_date_start conference_date_end}}:</b>
                {{/if}}
            {{/if}}

            {{#if title}}{{title}}. {{/if}}
            {{{content}}}
        </p>
    </li>
</template>

<template name="FeaturedInterviewSidebar">
    {{#with interview}}
    <div class="card">
        <h6 class="card-title"><a href="/interviews">Interviews with outstanding authors</a></h6>
        <span>{{title}}</span>
        {{{removeLink content}}}
    </div>
    {{/with}}
</template>
