<template name="EdBoardList">
    <ul class="collapsible {{ulClass}}" data-collapsible="accordion">
        {{#each members}}
        <li>
            <div class="collapsible-header">
                <a href="#" class="edboard-name">{{>PersonName}}</a>
            </div>

            {{#if ../showEmails}}
            {{#if email}}
            <a class="black-link" href="mailto:{{email}}">{{email}}</a>
            {{/if}}
            {{#if email_alt}}
            <div class="clearfix"></div>
            <a class="black-link" href="mailto:{{email_alt}}">{{email_alt}}</a>
            {{/if}}
            {{/if}}

            {{#if address}}
            <div class="clearfix"></div>
            <span class="edboard-address">{{{address}}}</span>
            {{/if}}

            <div class="collapsible-body">
                {{#if title}}<i>{{{title}}}</i>{{/if}}
                <div class="clearfix"></div>
                {{{bio}}}
            </div>
        </li>
        {{/each}}
    </ul>
</template>

<template name="PersonName">
    {{name_first}} {{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}{{#if name_suffix}} {{name_suffix}}{{/if}}
</template>

<template name="Slideshow">
    <div class="slideshow-container">
        <ul class="slideshow">
            {{#each slides}}
            <li>
                <a href="{{#if route}}{{pathFor route}}{{else}}{{link}}{{/if}}" target="{{#if link}}_BLANK{{/if}}">
                    <h5 class="slide-header">{{header}}</h5>
                    <img src="{{src}}" alt={{header}} />
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="tocSignupBtn">
    {{#if mailchimpTOC}}
    <a href="{{mailchimpTOC}}" target="_blank" class="full-width button primary toc-signup-button">Sign Up for TOC Alerts</a>
    {{/if}}
</template>
