<template name="RecentBreakthroughs">
    <div class="row">
        <div class="col s12 m8">
            <h1>Recent Breakthroughs</h1>

            <h2><a href="http://www.ncbi.nlm.nih.gov/pubmed/23190075">Genetics of Longevity in Model Organisms: Debates and Paradigm Shifts.</a></h2>
            <p>Gems D, Partridge L. Annu Rev Physiol. 2012 Nov 26. </p>

            <div class="divider"></div>

            <h2><a href="http://www.ncbi.nlm.nih.gov/pubmed/23128359"> Rapamycin as longevity enhancer and cancer preventative agent in the context of p53 deficiency.</a></h2>
            <p>Donehower LA. Aging (Albany NY). 2012 Oct;4(10):660-1.</p>

            <div class="divider"></div>

            <h2><a href="http://www.ncbi.nlm.nih.gov/pubmed/23056007">What is the Proximal Cause of Aging?</a></h2>
            <p> Zimniak P. Front Genet. 2012;3:189.</p>

            <div class="divider"></div>
            <h2><a href="http://www.ncbi.nlm.nih.gov/pubmed/22870907"> Alternative Perspectives on Aging in Caenorhabditis elegans: Reactive Oxygen Species or Hyperfunction?  </a> </h2>
            <p> Gems D, Guardia YD. Antioxid Redox Signal. 2012 Sep 24.  </p>
        </div>
    </div>
</template>
