<template name="Search">
    {{>PageHeader header='Search'}}
    <div class="row"><div class="col s12">
        {{>SearchForm terms=terms indexes=indexes primaryIndex=primaryIndex}}
    </div></div>
    <div class="row"><div class="col s12">
        {{#if searchLoaded}}
            <h3 style="margin-top:0;">Search Results</h3>

            {{#if queryResults}}
            <ul class="divided-list">
                <li class="item search-item" style="padding-bottom: 15px;">
                    <p style="margin: 0;"><i>{{queryResults.length}} results found</i></p>
                </li>
                {{#each queryResults}}
                <li class="item search-item">
                    <h6 class="lighten">Published in <em>{{journal}}</em></h6>
                    <h6 class="article-header">{{>ArticleHeaderPieces}}</h6>
                    <h4 class="title"><a href="{{url}}">{{{title}}}</a></h4>
                    <p>{{authors}}</p>

                    {{#if abstract}}
                    {{#if equals abstract ''}}
                    {{else}}
                    <div class="abstract article-text">
                        {{{wrapInParagraphTag abstract}}}
                    </div>
                    {{/if}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            {{else}}
            <div class="row no-margin">
                <div class="col s12">
                    <div class="result-box" style="margin-bottom:40px;">
                        <h5>There are no results for these search terms.</h5>
                        {{#if emailSearchHelp}}
                        <p>For assistance finding a paper that was published in {{journal}}, please contact <a href="mailto:{{emailSearchHelp}}">{{emailSearchHelp}}</a> </p>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}
        {{else}}
            {{#if searchLoading}}
                {{>Loading}}
            {{else}}
                <h4>Search</h4>
                <p>To search the journal, enter a term in the search bar. If you'd like to find specific authors, titles, or abstracts, use the advanced search to the right. </p>
            {{/if}}
        {{/if}}
    </div></div>
</template>

<Template name="SearchForm">
    <form id="search-form" class="box">
        {{#with searchArgs}}
        <div class="search-args">
            <div class="row valign-wrapper">
                <div class="col s1 valign">General Search</div>
                <div class="col s11 valign"><input placeholder="general" type="text" name="general" value="{{general}}"></div>
            </div>

            <div class="row valign-wrapper">
                <div class="col s1 valign">Title</div>
                <div class="col s11 valign"><input placeholder="title" type="text" name="title" value="{{title}}"></div>
            </div>

            <div class="row valign-wrapper">
                <div class="col s1 valign">Abstract</div>
                <div class="col s11 valign"><input placeholder="abstract" type="text" name="abstract" value="{{abstract}}"></div>
            </div>

            <div class="row valign-wrapper">
                <div class="col s1 valign">Author</div>
                <div class="col s11 valign"><input placeholder="authors" type="text" name="authors" value="{{authors}}"></div>
            </div>

            <div class="row valign-wrapper">
                <div class="col s1 valign">Keywords</div>
                <div class="col s11 valign"><input placeholder="keywords" type="text" name="keywords" value="{{keywords}}"></div>
            </div>
        </div>
        {{/with}}

        <div class="row">
            {{#each indexes}}
            <div class="col s1">
                &nbsp;
            </div>
            <div class="col s11">
                <div class="input-field">
                    <input type="checkbox" name="{{index}}Search" id="{{index}}SearchCheck" checked="{{checked selected}}"/>
                    <label for="{{index}}SearchCheck">Search {{label}}</label>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="row submit-row">
            <div class="col s12">
                <button class="button" type="submit">Submit</button>
            </div>
        </div>
    </form>
</Template>
