<template name="TopArticles">
    <div class="row">
        <div class="col s12">
            <h1>Top {{altmetricTopCount}} {{journalName}} Publications in the Media</h1>

            <p>We now offer <a href="https://www.altmetric.com/about-our-data/altmetric-details-page/" target="_BLANK">Free Altmetric Article Reports</a> to all of our authors and readers.</p>

            <p>From the moment the article is published, you can monitor the reports to build effective strategies to manage the reputation of your research, build a stronger case or polarize consensus. These reports offer real-time feedback that contain an 'at a glance' summary of a collection of data regarding the online engagement relating to each of our publications.  They can help you assess and compare levels of awareness from across the web including demographic and geographic details on who is mentioning your work.</p>

            <p>Moreover, this gives you a chance to engage directly with the audiences who are interested in your work and add a measurement of your work’s influence to your academic profile, NIH Biosketch or CV - <i>often long before traditional citations begin to accrue</i>.</p>

            <p>Simply click on a badge and sign up for notifications for that article or contact our offices and we will sign you up to receive complimentary email notifications when that publication receives attention.</p>

            <p>Resources on: <a href="https://youtu.be/M6XawJ7-880" target="_BLANK">Altmetric Analytic Software</a>, <a href="https://staticaltmetric.s3.amazonaws.com/uploads/2016/05/NIH-guide.pdf" target="_BLANK">Adding Altmetric data to your NIH Biosketch</a>, <a href="https://www.altmetric.com/about-our-data/the-donut-and-score/" target="_BLANK">What is the Altmetric donut</a>, and <a href="https://help.altmetric.com/support/solutions/articles/6000060969-how-is-the-altmetric-score-calculated-">How is your Altmetric score calculated</a></p>

            <h3>Please Click on the Publication Title to View Full-text HTML or the Altmetric Badge to View the Article Report.</h3>

            <ul id="altmetric-top">
                {{#each altmetricTop}}
                <li>
                    <p class="valign-wrapper">
                        {{>AltmetricBadgeWithReport ids=ids}}
                        {{#if pii}}
                        <a href="{{pathFor 'ArticleText' id=pii}}" class="valign altmetric-title-link">{{{title}}}</a>
                        {{else}}
                        <a href="{{altmetricDetailsLink}}{{altmetric_id}}" class="valign altmetric-title-link" target="_BLANK">{{{title}}}</a>
                        {{/if}}
                    </p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>
