<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="fragment" content="!">
    <title></title>
    <script>
        window.prerenderReady = false;
    </script>
</head>
