<template name="Article">
    {{> SubscribeModal}}

    <div class="row">
        <div class="col s12">
            {{#with article}}
                {{>ArticleHeader}}
            {{/with}}

            {{#with fullText}}
            {{#if glossary}}
            <div class="article-text">
            {{>ArticleGlossary}}
            </div>
            {{/if}}
            {{/with}}
        </div>
    </div>
</template>
