<template name="ArticleText">
    <div class="row">
        <div class="col s12">
            {{#with article}}
                {{>ArticleHeader}}

                {{#if ids.pii}}
                {{else}}
                    <div class="center-align"><h4>Full Text Unavailable.</h4></div>
                {{/if}}
            {{/with}}

            {{#if fullText}}
            {{else}}
                {{>Loading}}
            {{/if}}

            {{#with fullText}}
                <div class="article-text">
                    {{>ArticleFullText}}

                    {{#if glossary}}
                        {{>ArticleGlossary}}
                    {{/if}}

                    {{#if footnotes}}
                        {{#each footnotes}}
                        {{#if equals title 'Author Contributions'}}
                        <div class="article-header-1">
                            {{title}}
                        </div>
                        {{#each content}}
                        <p>{{#if label}}<sup>{{{label}}}</sup>{{/if}}{{{content_part}}}</p>
                        {{/each}}
                        {{/if}}
                        {{/each}}
                    {{/if}}


                    {{#if acks}}
                        {{#each acks}}
                        <div class="article-header-1">
                            {{title}}
                        </div>
                        {{#each content}}
                            {{#if equals contentType 'p'}}
                                <p>{{{content}}}</p>
                            {{/if}}
                        {{/each}}
                        {{/each}}
                    {{/if}}


                    {{#if footnotes}}
                        {{#each footnotes}}
                        {{#if equals title 'Author Contributions'}}
                        {{else}}
                        <div class="article-header-1">
                            {{title}}
                        </div>
                        {{#each content}}
                        <p>{{#if label}}<sup>{{{label}}}</sup>{{/if}}{{{content_part}}}</p>
                        {{/each}}
                        {{/if}}
                        {{/each}}
                    {{/if}}

                    {{#if references}}
                        <div class="article-header-1">References</div>
                        <ul>
                            {{#each references}}
                                <li id="{{id}}">
                                    <b>{{#if label}}{{label}}{{else}}{{number}}{{/if}}.</b>

                                    {{#if asString}}
                                        {{{asString}}}
                                        {{else}}{{#each textContent}}{{#if equals type 'ext_link'}}{{{content}}}{{/if}}{{#if equals type 'authorList'}}{{{content}}}{{#if equals ../citationType 'element_citation'}}. {{/if}}{{/if}}{{#if equals type 'title'}}{{{content}}}{{/if}}{{#if equals type 'source'}}{{{content}}}{{#if equals ../citationType 'element_citation'}}.{{/if}}{{/if}}{{#if equals type 'year'}}{{{content}}}{{#if equals ../citationType 'element_citation'}};{{/if}}{{/if}}{{#if equals type 'volume'}}{{{content}}}{{#if equals ../citationType 'element_citation'}}:{{/if}}{{/if}}{{#if equals type 'issue'}}{{{content}}}{{referenceColonCheck reference=this}}{{/if}}{{#if equals type 'fpage'}}{{{content}}}{{/if}}{{#if equals type 'lpage'}}{{#if equals ../citationType 'element_citation'}}-{{/if}}{{{content}}}{{#if equals ../citationType 'element_citation'}}.{{/if}}{{/if}}{{#if equals type 'comment'}}{{{content}}}{{/if}}{{#if equals type 'doi'}}<span>doi: {{content}}</span>{{/if}}{{#if equals type 'pmid'}}<span> [<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{content}}" target="_BLANK">PubMed</a>]</span>{{/if}}{{#if equals type 'text'}}{{{content}}}{{/if}}{{#if equals type 'name'}}{{{content}}}{{/if}}{{/each}}{{/if}}

                                    {{#if fakevar}}
                                    {{#if equals type 'journal'}}

                                    {{#if editors}}<span> {{editors}}, editor.</span>{{/if}}
                                    {{#if authors}}<span> {{{authors}}}.</span>{{/if}}
                                    {{#if title}}<span> {{{title}}}{{punctuationCheck title}}</span>{{/if}}
                                    {{#if source}}<span> {{source}}.</span>{{/if}}
                                    {{#if year}}<span> {{year}}</span>{{/if}}{{referenceSemicolonCheck reference=this}}{{#if volume}}<span> {{volume}}</span>{{/if}}{{#if issue}}<span>({{issue}})</span>{{/if}}{{referenceColonCheck reference=this}}{{#if fpage}}<span> {{fpage}}</span>{{/if}}{{#if lpage}}<span>-{{lpage}}</span>.{{/if}}
                                    {{#if comment}}<span> {{{comment}}}</span>{{/if}}
                                    {{#if doi}}<span>doi: {{doi}}</span>.{{/if}}
                                    {{#if pmid}}<span> [<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}" target="_BLANK">PubMed</a>]</span>{{/if}}
                                    {{/if}}

                                    {{#if equals type 'book'}}

                                        {{! Book refs are handled differently if they are chapter specific refs}}
                                        {{#if chapter_title}}

                                            {{#if authors}}<span> {{{authors}}}.</span>{{/if}}
                                            {{#if chapter_title}}<span> {{{chapter_title}}}.</span>{{/if}}
                                            {{#if source}}<span>In: </span>{{/if}}
                                            {{#if editors}}<span> {{editors}}, eds.</span>{{/if}}
                                            {{#if source}}<span>{{{source}}}.</span>{{/if}}
                                            {{#if volume}}<span> {{volume}}:</span>{{/if}}
                                            {{#if publisher_loc}}<span>{{{publisher_loc}}}</span>{{/if}}
                                            {{#if publisher_name}}: <span>{{{publisher_name}}}</span>{{/if}}{{#if year}}<span>, {{year}}</span>{{/if}}{{#if fpage}}<span>, pp. {{fpage}}</span>{{/if}}{{#if lpage}}<span>-{{lpage}}</span>{{/if}}<span>.</span>

                                        {{else}}
                                            {{#if textContent}}
                                                {{! This is for book refs that just contain a string, no tags}}
                                                {{#each textContent}}{{{content}}}{{/each}}
                                                {{#if doi}}<span>{{doi}}</span>.{{/if}}
                                            {{else }}
                                                {{! This is the non-chapter specific ref, for a whole book}}
                                                {{#if authors}}<span> {{{authors}}}.</span>{{/if}}
                                                {{#if year}}<span> {{year}}.</span>{{/if}}
                                                {{#if title}}<span> {{{title}}}.</span>{{/if}}
                                                {{#if chapter_title}}<span> {{{chapter_title}}}.</span>{{/if}}
                                                {{#if fpage}}<span> {{fpage}}</span>{{/if}}{{#if lpage}}<span>-{{lpage}}</span>{{/if}}
                                                {{#if source}}<span>{{{source}}}</span>{{/if}}<span>(</span>{{#if publisher_loc}}<span>{{{publisher_loc}}}</span>{{/if}}{{#if publisher_name}}: <span>{{{publisher_name}}}</span>{{/if}}<span>)</span><span>.</span>
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}


                                    {{#if equals type 'web'}}
                                        {{#if textContent}}
                                            {{! This is for book refs that just contain a string, no tags}}
                                            {{#each textContent}}{{#if equals type 'ext_link'}}<a href="{{content}}" target="_BLANK">{{content}}</a>
                                            {{else}}{{{content}}}{{/if}}{{/each}}
                                            {{#if doi}}<span>{{doi}}</span>.{{/if}}
                                        {{else }}
                                            {{#if authors}}<span> {{{authors}}}.</span>{{/if}}
                                            {{#if title}}<span> {{{title}}}.</span>{{/if}}
                                            {{#if year}}<span> {{year}};</span>{{/if}}
                                            {{#if source}}<span> {{source}}.</span>{{/if}}
                                            {{#if comment}}<span>{{{comment}}}</span>{{/if}}
                                        {{/if}}
                                    {{/if}}

                                    {{#if equals type 'other'}}
                                        {{#if textContent}}
                                            {{! This is for other type refs that just contain a string, no tags}}
                                            {{#each textContent}}{{{content}}}{{/each}}
                                        {{else}}
                                            {{#if collab}}<span> {{collab}}.</span>{{/if}}
                                            {{#if authors}}<span> {{{authors}}}.</span>{{/if}}
                                            {{#if title}}<span> {{{title}}}.</span>{{/if}}
                                            {{#if chapter_title}}<span> {{{chapter_title}}};</span>{{/if}}
                                            {{#if source}}<span> {{source}}.</span>{{/if}}
                                            {{#if comment}}<span> {{{comment}}}</span>{{/if}}
                                            {{#if year}}<span> {{year}}.</span>{{/if}}
                                            {{#if fpage}}<span> {{fpage}}</span>{{/if}}{{#if lpage}}<span>-{{lpage}}</span>.{{/if}}
                                        {{/if}}
                                    {{/if}}

                                    {{#if equals type 'conf_proc'}}
                                        {{>FullTextReferenceConference}}
                                    {{/if}}
                                    {{#if equals type 'confproc'}}
                                        {{>FullTextReferenceConference}}
                                    {{/if}}

                                    {{#if ext_link}}<a href="{{ext_link}}" target="_BLANK">{{ext_link}}</a>{{/if}}

                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            {{/with}}
        </div>
    </div>
</template>

<template name="ArticleFullText">
    {{#if advanceContent}}
        {{{advanceContent}}}
    {{else}}
        {{#each sections}}
            {{>ArticleFullTextSection}}
        {{/each}}
    {{/if}}
</template>

<template name="ArticleFullTextSection">
    <div class="section-container">
        {{#if title}}
        <div class="article-header-{{headerLevel}}">{{#if label}} {{{label}}} {{/if}} {{{title}}}</div>
        {{/if}}
        {{#each content}}
            {{#if equals contentType 'p'}}
            <p>{{{content}}}</p>
            {{/if}}


            {{#if equals contentType 'subsection'}}
            {{>ArticleFullTextSection}}
            {{/if}}

            {{#if equals contentType 'quote'}}
                {{#if content}}
                <blockquote>{{{content}}}</blockquote>
                {{/if}}
            {{/if}}


            {{#if equals contentType 'figure'}}
            <!-- Figure -->
                {{#with content}}
                {{>ArticleFigure}}
                {{/with}}
            {{/if}}


            {{#if equals contentType 'formula'}}
            <!-- Formula -->
                {{>FullTextFormula content=content}}
            {{/if}}

            {{#if equals contentType 'table'}}
            <!-- Table -->

                {{#if title}}
                <div class="table-title">{{{title}}}</div>
                {{/if}}

                <div class="article-table">
                    <table class="bordered" id="{{id}}">

                    {{{table}}}

                    {{#if tableGraphic}}
                    {{#with tableGraphic}}
                    {{>ArticleFigure}}
                    {{/with}}
                    {{/if}}

                    {{{footer}}}
                    </table>
                </div>
            {{/if}}

            {{#if equals contentType 'supplement'}}
            <!-- Supplemental -->
                {{#each supps}}

                {{#if url}}
                <div class="article-header-3">
                    <a href="{{url}}" class="supplemental" id="{{id}}"><span class="icon icon-download"></span>{{#if label}}{{label}}{{else}}Supplemental File{{/if}}</a>
                </div>
                {{/if}}

                <p>{{#if title}}<span><b>{{{title}}}</b></span>{{/if}}{{#if caption}}<span>{{{caption}}}</span>{{/if}}</p>

                {{/each}}
            {{/if}}
        {{/each}}
    </div>
</template>

<template name="FullTextFormula">
    {{#mathjax}}
    <p class="full-text-formula">{{{content}}}</p>
    {{/mathjax}}
</template>

<template name="ArticleFigureText">
    <p class="figure-text">
        {{#if label}}
        <a href="#">
            {{{removePunctuation label}}}
        </a>
        {{/if}}

        {{#if title}}
        <span><b>{{{title}}}.</b></span>
        {{/if}}

        {{#if caption}}
        <span>{{{caption}}}</span>
        {{/if}}
    </p>
</template>

<template name="ArticleFigure">
    <div class="full-text-image-container" id="{{id}}">
        {{#if optimized_urls.large}}
        <a href="{{pathFor 'ArticleFigureViewer' article=articleId figureId=id}}">
            <img alt={{alt}} class="full-text-image" src="{{optimized_urls.medium}}"/>
        </a>
        {{/if}}

        {{#mathjax}}
        {{>ArticleFigureText}}
        {{/mathjax}}
    </div>
</template>

<template name="ArticleGlossary">
    <div class="article-header-1">Abbreviations</div>
    <p>
    {{#each glossary}}
        {{{term}}}: {{{def}}};
    {{/each}}
    </p>
</template>

<template name="FullTextReferenceConference">
    {{#if textContent}}
    {{#each textContent}}{{#if equals type 'ext_link'}}<a href="{{content}}" target="_BLANK">{{content}}</a>
    {{else}}{{{content}}}{{/if}}{{/each}}
    {{#if doi}}<span>{{doi}}</span>.{{/if}}

    {{else}}
    {{#if authors}}<span> {{{authors}}}.</span>{{/if}}
    {{#if title}}<span> {{{title}}}.</span>{{/if}}
    {{#if conf_name}}<span> {{{conf_name}}}.</span>{{/if}}
    {{#if year}}<span> {{year}}.</span>{{/if}}
    {{#if comment}}<span>{{{comment}}}</span>{{/if}}
    {{/if}}
</template>
