<template name="ArticleFigureViewer">
	<div class="row {{journalClass}}" style="margin-bottom:0px;"><div class="col s12">
		{{#with article}}
		<div class="row">
			<div class="col s12">
				<a class="figure-back-button left" style="margin-top:10px;">&#x2190; Back</a>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				{{>ArticleHeaderTitle}}
			</div>
		</div>
		{{/with}}

		{{#with figure}}
		{{>ArticleFigureViewerViewer}}
		{{/with}}

		{{#if figure}}
		<div class="row">
			<div class="col s12 center-align">
				<div class="figure-range">
					<input type="range" class="zoom-range" step="0.05" min="0.4" max="0.9">
				</div>
				<button class="reset btn grey">Reset</button>
			</div>
		</div>
		{{else}}
		{{>Loading}}
		{{/if}}

		{{#with figure}}
		<div class="row">
			<div class="col s12">
				{{>ArticleFigureText}}
			</div>
		</div>
		{{/with}}
	</div></div>
</template>

<template name="ArticleFigureViewerViewer">
	<div class="row">
		<div class="col s12 center-align">
			<div class="figure">
				{{#if optimized_urls}}
		            {{#if optimized_urls.hero}}
					{{>ArticleFigureViewerFig src=optimized_urls.hero}}
		            {{else}}
		            {{#if optimized_urls.large}}
					{{>ArticleFigureViewerFig src=optimized_urls.large}}
		            {{/if}}
		            {{/if}}
		        {{else}}
		            {{#if url}}
					{{>ArticleFigureViewerFig src=url}}
		            {{/if}}
		        {{/if}}
				<div class="buttons">
					<button class="zoom-in btn-floating">+</button>
					<button class="zoom-out btn-floating">&minus;</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="ArticleFigureViewerFig">
	<img alt={{alt}} class="figure-viewer-img" src="{{src}}"/>
</template>
