<template name="ArticleFigures">
    <div class="row">
        <div class="col s12">
            {{#with article}}
            {{>ArticleHeader}}
            {{/with}}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {{#with article}}
            {{#if files.figures}}
            <h2 class="color-header">Figures</h2>
            <ul class="figures-list row">
                {{#each files.figures}}
                <li class="col s6 m3">
                    <a href="{{pathFor 'ArticleFigureViewer' article=articleId figureId=id}}">
                        <img alt={{alt}} class="full-text-image" src="{{optimized_urls.medium}}"/>
                    </a>
                </li>
                {{/each}}
            </ul>
            {{else}}
                <h2>This article has no figures</h2>
            {{/if}}
            {{/with}}
        </div>
    </div>
</template>
