<template name="ArticleHeader">
    {{>ArticleHeaderTitle}}
    <div class="box">
        {{>AuthorsRefList}}

        {{#if keywords}}
        {{>ArticleKeywords}}
        {{/if}}

        {{#if dates}}
        {{>ArticleDates}}
        {{/if}}
    </div>

    {{#if oa}}
    <p>This is an open-access article distributed under the terms of the Creative Commons Attribution License, which permits unrestricted use, distribution, and reproduction in any medium, provided the original author and source are credited.</p>
    {{/if}}

    {{#if abstract}}
    <div class="abstract article-text">
        <h2 class="color-header" id="abstract">Abstract</h2>
        {{{wrapInParagraphTag abstract}}}
        <div id="fulltext"></div>
    </div>
    {{/if}}
</template>

<template name="ArticleHeaderTitle">
    <h5 class="article-header">
        {{>ArticleHeaderPieces}}
    </h5>
    <div id="article-title-and-badge-container" class="valign-wrapper">
        {{>AltmetricBadgeWithReport ids=ids}}
        <div id="article-container">
            <h1 id="article-title" class="valign">
                {{{title}}}
            </h1>
        </div>
    </div>
    <div class="clearfix"></div>
    <h5 class="article-header">
        {{>ArticleLinks _id=_id pii=ids.pii abstract=abstract files=files showCrawledText=showCrawledText ids=ids showDoi=true}}
    </h5>
</template>

<template name="ArticleHeaderPieces">
    {{#if article_type.name}}
        <span class="article-type">{{article_type.name}}</span>
    {{/if}}
    {{#if advance}}
        <span><a href="/advance" style="cursor: pointer;">Advance Articles</a></span>
    {{else}}
    {{#if vi}}
        <span><a href="{{pathFor 'Issue' vi=vi}}" style="cursor: pointer;">Volume {{volume}}{{#if issue}}, Issue {{issue}}{{/if}}</a></span>
    {{else}}
    {{#if issue_id}}
    {{#if volume}}
    {{#if issue}}
        <span><a href="/volume/v{{volume}}i{{issue}}" style="cursor: pointer;">Volume {{volume}}{{#if issue}}, Issue {{issue}}{{/if}}</a></span>
    {{/if}}
    {{/if}}
    {{else}}
    {{#if volume}}
    {{#if issue}}
        <span>Volume {{volume}}{{#if issue}}, Issue {{issue}}{{/if}}</span>
    {{/if}}
    {{/if}}

    {{/if}}

    {{/if}}
    {{/if}}

    {{#if page_start}}<span>{{>ArticlePages}}</span>{{/if}}
</template>

<template name="AltmetricBadgeWithReport">
    {{#with ids}}
    <div id="article-{{doi}}" data-badge-type="donut" data-template="{{altmetricTemplate}}" data-link-target="_blank" data-badge-popover="left" data-hide-less-than="{{altmetricThreshold}}" data-doi="{{doi}}" data-pmid={{pmid}} data-hide-no-mentions="true" data-condensed="true" class="article-altmetric altmetric-embed valign"></div>
    {{/with}}
</template>

<template name="ArticlePages">
    pp {{page_start}}{{#if page_end}}{{#if equals page_end page_start}}{{else}}&mdash;{{page_end}}{{/if}}{{/if}}
</template>

<template name="AuthorsList">
    <span class="authors">
        {{#each authors}}
            {{#if authorNotEmpty .}}
            <span class="author">{{>PersonName}}<span class="author-comma">, </span></span>
            {{/if}}
        {{/each}}
    </span>
</template>

<template name="AuthorAffsAndNotes">
    <sup class="author-affiliations">
        {{#each affiliations_numbers}}
        <span><a href="#" class="tooltip--triangle" data-tooltip="{{tooltipAffiliation}}">{{affiliationNumber .}}</a><span class="comma">,</span></span>
        {{/each}}
        {{#each author_notes}}<span>{{label}}<span class="comma">,</span></span>{{/each}}
        {{#if equal_contrib}}<span>{{equal_contrib}}<span class="comma">,</span></span>{{/if}}
    </sup>
</template>

<template name="AuthorsRefList">
    <h4 class="authors">
        {{#each authors }}
            {{#if authorNotEmpty .}}
            <span class="author">
                {{>PersonName}}{{#if affiliations_numbers}}{{>AuthorAffsAndNotes}}{{/if}}<span class="author-comma">,</span>
            </span>
            {{/if}}
        {{/each}}
    </h4>

    <ul class="affiliations-list">
        {{#each affiliations}}
        {{#if notEmpty .}}
        <li>
            <sup>{{affiliationNumber @index affiliations}}</sup> {{.}}
        </li>
        {{/if}}
        {{/each}}
    </ul>

    {{#if equal_contribs}}
    <p>{{equal_contribs}} Contributed equally to this work.</p>
    {{/if}}

    {{#if author_notes}}
    <p>
        {{#each author_notes}}
        <div>{{label}} {{note}}.</div>
        {{/each}}
    </p>
    {{/if}}
</template>


<template name="ArticleDates">
    <div class="dates">
        {{#each arrayify history}}
            <div class="date">
                <b><span class="date-type">{{name}}:</span><span class="date-value"><i> {{articleDate value}}</i></span></b>
            </div>
        {{/each}}

        {{#each arrayify dates}}
            <div class="date">
            <b>
            {{#if equals name 'collection'}}
                <span class="date-type">published:</span><span class="date-value"><i> {{collectionDate value}}</i></span>
                {{else}}
                <span class="date-type">published:</span><span class="date-value"><i> {{articleDate value}}</i></span>
            {{/if}}
            </b>
            </div>
        {{/each}}
    </div>
</template>

<template name="ArticleCorrespondence">
    <div class="card">
        <h6 class="card-title">Corresponding Author{{#if correspondence.[1]}}s{{/if}}</h6>
        {{#each correspondence}}
        <p class="correspondence">
            {{#if text}}<span class="correspondence-text">{{text}}</span><br /> {{/if}}
            <a class="correspondence-email" href="mailto:{{email}}">{{email}}</a>
        </p>
        {{/each}}
    </div>
</template>

<template name="ArticleRelatedArticles">
    <div class="card">
        <h6 class="card-title">Related Article{{#if related.[1]}}s{{/if}}</h6>
        {{#each related}}
        <p>
        {{#if equals related_article_type 'commentary-article'}}Commentary on: {{/if}}
        {{#if title}}{{{title}}}. {{/if}}
        {{#if source}}{{source}}. {{/if}}
        {{#if pmid}}[<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}/" target="_BLANK">PubMed</a>]{{/if}}
        </p>
        {{/each}}
    </div>
</template>

<template name="ArticleKeywords">
    <div class="keywords">
        <span class="gray-text"><b>Keywords:</b></span>
        <span class="keywords-list">
            {{#each keywords}}
            <span class="keyword">
                <a href="#" class="search-kw"><i>{{{.}}}</i></a><span class="comma">,</span>
            </span>
            {{/each}}
        </span>
    </div>
</template>

<template name="ArticleSupplemental">
    <div class="card">
        <h6 class="card-title">Supplemental Files</h6>
        <ul>
            {{#each supplemental}}
                {{#if url}}
                <li><a href="{{url}}" class="supplemental"><span class="icon icon-download"></span> {{#if label}}{{label}}{{else}} Supplemental File{{/if}}</a></li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="ArticleLinks">
    <div class="article-links">
        {{#if abstract}}
        <span><a href="{{pathFor 'Article' id=ids.pii}}"><b>Abstract</b></a></span>
        {{/if}}

        {{#if files.pdf.display}}
        <span><a href="{{files.pdf.url}}"><b>PDF</b></a></span>
        {{/if}}

        {{#if files.xml.display}}
        <span><a href="{{pathFor 'ArticleText' id=ids.pii}}"><b>Full Text</b></a></span>
        {{#if files.supplemental}}
        {{#each files.supplemental}}
        <span><a href="{{url}}"><b>Supplemental Material ({{id}})</b></a></span>
        {{/each}}
        {{/if}}
        {{/if}}


        <span><a href="/print-request/{{_id}}">Order a Reprint</a></span>

        {{#if showDoi}}
        {{#if ids.doi}}
        <span><b>{{ids.doi}}</b></span>
        {{/if}}
        {{/if}}
    </div>
</template>
