/**
 * Archive
 *
 */

.archive-issue {
    padding-left: 0!important;

    img {
        max-width: 154px;
        margin: 0;
        width: auto;
    }

    h5 { margin: 0; }
    &:nth-child(4n+1) { clear: both; };

    .issue-info {
        display: block;
        float: left;
        margin: $margin-xs 0 $margin-md 0;
    }
}
.cover-link{
    display: block;
    float: left;
}
