/**
 * Article
 *
 */

.correspondence{
    overflow: hidden;
    .correspondence-text,
    .correspondence-email{
        word-wrap: break-word;
    }
}

/* Page Header  ------------------------*/
#article-container{
    h1{
        margin: 0!important;
    }
}
h4.authors{
    span.author{
        display: inline-block;
        white-space: nowrap;

        // fix trailing comma whitespace
        > span.comma {
            position: relative;
            right: 2px;
        }
    }

    // superscript
    sup.author-affiliations a {
        margin: 0;
        padding: 0 !important;
    }
}

.article-header, .article-links {
    text-align: left;
    span {
        margin-right: $margin-xs;
        padding-right: $pad-sm;
        border-right: 2px solid $gray-2;
        &:last-child { border: 0 none; }
    }

    span.article-type {
        font-weight: 700;
    }
}
.authors {
    .author{
        &:last-child {
            .author-comma {
                display:none !important;
            }
        }
    }
}
.author-affiliations {
    z-index: 1;
    span{
        &:last-child {
            span.comma {
                display:none !important;
            }
        }
    }
}
.affiliations-list{
    margin: $margin-sm 0;
}
.dates {
    .date{
        display: inline-block;
        margin-right: $margin-sm;
    }
    .date-type{
        @extend .gray-text;
        text-transform: capitalize;
    }
}
.article-altmetric {
    a {
        height: $smallAltmetricBadge;
        width: $smallAltmetricBadge;
        margin-right: 10px!important;
        img {
            height: $smallAltmetricBadge;
            width: $smallAltmetricBadge;
        }
    }
}
#article-title-and-badge-container{
    float:left;
    margin: 0;
    width: 100%;
    .article-altmetric {
        a {
            height: $largeAltmetricBadge;
            width: $largeAltmetricBadge;
            img{
                height: $largeAltmetricBadge;
                width: $largeAltmetricBadge;
            }
        }
    }
}

/* Full Text ------------------------*/
.article-text {
    margin-top: $margin-lg;
}

/* Full Text Figure ------------------------*/
.full-text-image-container {
    @extend .box;
    a{
        float: left;
        width: 100px;
        img{
            border: 1px solid $black;
            max-width: 100%;
        }
    }
    .figure-text{
        margin: 0;
        padding-left: $pad-sm;
        overflow: hidden;
        span{
            clear: both;
            float: left;
            margin-top: $margin-sm;
        }
    }
}

/* Full Text Section Headers ------------------------*/
.article-header-0{
	@extend h4;
}
.article-header-1{
    @extend h2;
}
.article-header-2{
	@extend h3;
}
.article-header-3{
	@extend h4;
}
.article-header-4{
	@extend h5;
}
.article-header-5{
	@extend p!optional;
}

/* Full Text Table ------------------------*/
.article-table{
	border: 1px solid $black-0;
	padding: 0px!important;
	overflow: auto;
	margin: 0px 0px $margin-lg 0;
	padding: $pad-md $pad-lg;
	table{
		thead{;
			border-bottom: 1px solid $black-0;
			tr{
				border: 0px!important; /* using .bordered on table, but we do not want table header bordered */
				th{
					border: 1px solid $gray-1;
				}
			}
		}
		li{
			margin-left: $margin-lg;
		}
	}
	td { padding: 5px; }
	td p { margin: 0; }
}

.table-title{
	background: $gray-0;
	padding: $pad-md;
	border-top: 1px solid $black-0;
	border-left: 1px solid $black-0;
	border-right: 1px solid $black-0;
	text-align: center;
}

/* Full Text Formula ------------------------*/
.full-text-formula{
    label{
        color: $gray-mid;
        font-size: 1rem;
    }
}
p.full-text-formula label, disp-formula label {
    display:block;
    text-align:right;
    position:relative;
    top:-22px;
}

/* Full Text References ------------------------*/
h3#references + ul li {
    margin-bottom: 15px;
    @extend p;
}

/* Figures Page ----- */
.figures-list{
    li {
        margin-bottom: $margin-lg;

        &:nth-child(4n+1){
            clear: both;
        }
    }
    img{
        border: 1px solid $black;
        width: 100%;
    }
}

/* Figure Viewers ------------------------*/
.figure{
    img{
        max-width: 100%;
    }
    .container{
        width: 100%!important;
        max-width: none!important;
        border: 1px solid $blue-midnight;
        background: #ffffff;
    }
    .buttons{
        margin-top: 10px;
    }
}
.figure-range{
    .thumb{
        display: none;
    }
}
.figure-back-button{
    cursor: pointer;
}

/* Keywords ------------------------*/
.keywords{
    margin-bottom: $margin-sm;
    .keywords-list{
        .keyword:last-child {
            .comma {
                display:none !important;
            }
        }
    }
}
