/**
 * Forms
 *
 */

fieldset{
	margin-top: $margin-lg;
	margin-bottom: $margin-lg;
}
.saving{
	padding: $pad-lg;
}
.success{
	.col{
		padding: $pad-lg;
	}
}
.clear{
	background-color: $red;
}
label{
	font-size: $fontSizeH6!important;
}
label.active{
	font-size: $fontSizePara!important;
}
