/**
 * Home Page
 *
 */

/** New Issue
---------------------------------------------------------*/
.issue-highlight {
    @include clearfix;

    img.cover {
        float: left;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        width: 40%;
    }

    .button-list {
        float: left;
        margin-left: 25px;

        li { margin: 0; padding: 0; border: none; }
        li.title {
            margin-top: 15px;
            font-size: 20px;
        }

        li.subtitle {
            margin-bottom: 0;
            font-weight: 700;
        }

        li.title:hover, li.subtitle:hover {
            background: none;
            border: none;
        }

        li span.icon-angle-right {
            color: $cello;
            font-size: 10px;
            margin-left: 2px;
            position: relative;
            top: 0;
            bottom: 5px !important;
        }
    }
}

/** Featured Nobel Articles
---------------------------------------------------------*/
.featured-nobel {
    margin-top: 40px;
    p {
        text-align: justify;
    }
    ul.featured-items {
        li {
            text-align: justify;
            p{
                margin: 0!important;
            }
        }
        li:hover {
            background: none;
            border-color: #fff;
        }

        li a {
            color: $link;
            display: inline;
            @include transition(color 0.25s ease-out);
            &:hover { color: lighten($link, 10%); }
        }
    }
}
