/**
 * Issue
 *
 */

.cover-modal{
	text-align: center;
	img{
		max-width: 100%;
	}
}

.toc-title {
  margin-bottom: 10px;
  @include clearfix;
}

.toc-title > .cover-image {
    float: left;
    padding: 0 $pad-sm $pad-sm 0;
}

.toc-title > .cover-image > img {
    width: 100px;
}

.large-cover > img, .toc-title > .large-cover > a > img {
    width: 200px;
}

.small-cover > img, .toc-title > .small-cover > a > img {
    width: 100px;
}

.toc-heading{
	margin-top: $margin-lg!important;
}

.toc-info {
	.title{
		a{
			color: $black!important;
		}
	}

	h5{
		margin-bottom: 0;
	}

	p{
		margin: 0;
	}

	.article-altmetric{
		margin-top: $margin-md;
	}

	.doi-link{
		@extend .black-link;
		font-weight: normal;
	}
}

.toc-sections{
	margin: 0 0 $margin-md $margin-md;
	li {
		list-style-type: disc!important;
	}
}

.issue-altmetric {
    float:right;
}
