.journal-os{
    a {
        color: $green;
        &:hover {
            color: lighten($green, 10%);
        }
    }
    nav{
        background-color: $green-lightest;
    }
    .button{
        background-color: $green-light;
        color: $white;
        padding-bottom: $pad-sm!important;
        padding-top: $pad-sm!important;
        &:hover{
            background-color: $green-lightest;
            color: $white;
        }
    }
    .color-header{
        border-bottom: 1px solid $green;
        color: $green;
        text-transform: uppercase;
    }
    footer{
        background-color: $green-light;
    }
    #header{
        background-color: $green-lightest;
    }
    input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
        &:focus{
            border-bottom: 1px solid $green-lightest;
            box-shadow: 0 1px 0 0 $green-lightest;
        }
    }
    .journal-name{
        color: $green-lightest;
        font-weight: bold;
    }
    [type="checkbox"]:checked + label:before {
        border-bottom: 2px solid $green!important;
        border-right: 2px solid $green!important;
    }
    #nav{
        background-color: $green-lightest;
    }
    .microscope-heading{
        background-color: $green-lightest;
        background-image: url('../images/microscope-green.gif');
        background-position: 2px 0px;
        background-repeat: no-repeat;
        color: $white;
        font-family: $font-sans-2;
        font-weight: bold;
        padding: 4px 1.5em 4px 0;
        text-indent: 40px;
        text-transform: uppercase;
    }
    // Article text
    .article-header-1{
    	@extend .color-header;
    }

    // SideBar
    .side-bar{
        border-left: 1px solid $green-light;
    }

    // slideshow
    .slideshow{
        .slide-header{
            background-color: $green-lightest;
        }
    }
    .rslides_tabs{
        background-color: $green-lightest;
        li{
            display: inline-block;
        }
    }
}
