/**
 * Layout
 *
 */

/* Base Layout -------------------*/
body {
    background-color: $gray-faint !important;
    text-align: center;
}
#main-container{
    background-color: $white;
    box-shadow: 3px 3px 10px #888;
    display: inline-block;
    height: 100%;
    margin: 10px auto;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 965px;
}
.content-yield{
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 779px;
}

/* Footer -------------------*/
footer {
    @include clearfix;
    color: $white;
    display: block;
    float: left;
    margin: 1px 0 0 0;
    padding: 5px;
    width: 100%;
    a {
       color: $white;
    }
}

/* Header -------------------*/
#header{
    box-shadow: none;
    padding: 0;
    margin: 0 0 12px 0;
    height: 100px;

    #header-journal {
        color: $white;
        font-size: 60px;
        font-weight:bold;
        letter-spacing:-2px;
    }

    .header-right{
        position: absolute;
        right: $margin-sm;

        li{
            clear: both;
            display: block;
            float: right;
            font-size: $fontSizePara;
            line-height: $fontSizePara;
            margin: $margin-xs;
            padding: 0;
        }

        .header-issn{
            background-color: $green-super-light;
            font-weight: bold;
            padding: $pad-xs;
        }

        .header-search{
            .header-serach-input{
                padding-right: 60px;
            }
            input:not([type="submit"]){
                background: $white;
                color: $black;
                height: auto;
                margin: 0;
                padding: $pad-xs 0;
                text-indent: $pad-sm;
            }
            .searchbox-button{
                background-color: $green-super-light;
                border: 1px solid $white;
                float: right;
                font-size: $fontSizeTiny;
                line-height: 7px;
                margin: 0;
                padding: $pad-xs;
                text-transform: none;
            }
        }

        .header-social{
            margin-bottom: 0;
        }
    }



    .social-list{
        margin: 0;
        padding: 0;
        li {
            clear: none;
            display: inline-block;
            margin: 0;
            padding: 0 0 0 $pad-md;
        }
        a, i {
            color: $white;
            font-size: 20px;
            padding: 0;
        }
        i {
            height: 20px;
            line-height: 20px;
        }
    }
}
