/**
 * Lists
 *
 */

ul.divided-list {
    li.item {
        padding: $pad-md 0;
        border-bottom: 3px solid $gray-faint-2;
        &:first-child { padding-top: 0; }
        &:last-child { border: none; }
    }

    h3 { margin: 0; }

    p { padding: 0; margin: 0; }
}
ol {
    margin: 0;
    padding: 0;
}

ul.sectioned-list {
    margin: 0;

}
