/**
 * Navigation
 *
 */

/* Left Navigation -------------------*/
#nav{
    width: 176px;
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    ul{
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .nav-list {
        background-color: $white;
        border-top-width: 0px;
        border-style: solid;
        border-color: $gray-faint;
        border-width: 1px;
        box-shadow: 1px 1px 3px #444;
        -moz-box-shadow: 1px 1px 3px #444;
        -webkit-box-shadow: 1px 1px 3px #444;
        font-size: 11px;
        margin: 15px 15px 15px 10px;
        padding: 20px 4px 10px 0px;
    }

    .nav-list li {
        list-style: none;
        margin: 0;
        margin-bottom: 0.6em;
        padding: 0;
        padding-left: 15px;
        font-size:1.15em;
    }

    .nav-list li a {
        text-decoration: none;
        font-weight: bold;

        font-family: tahoma, sans-serif;
    }

    .nav-list li a:hover {
        text-decoration: underline;
    }

    .twitter-feed{
        background-color: $white;
    }
}
