/**
 * Search
 *
 */

#search-form{
    button[type="submit"] {
        margin-bottom: 0px;
    }
    .col{
        padding-left: $pad-xs;
    }
    input{
        background-color: $gray-faint;
        border: 1px solid $black;
        height: auto;
        padding: $pad-xs;

        &::placeholder{
            display: none;
        }
    }
    input, .input-field{
        margin: 0 0 0 $margin-sm;
    }
    .input-field{
        margin-bottom: $margin-sm;
    }
    label{
        font-size: $fontSizePara;
    }
    .search-args{
        .row:last-child{
            margin-bottom: 0;
        }
    }
    .submit-row{
        margin-bottom: $margin-sm;
        text-align: center;
    }
}
