/**
 * Side Bar
 *
 */

.side-bar{
    padding-left: $pad-xs;
    .microscope-heading{
        margin-left: -$pad-xs;
    }
    .latest-issue{
        padding: $pad-sm 0 0 $pad-xs;

        img{
            width: 126px;
        }

        .latest-issue-links{
            padding-left: $pad-xs;
        }

        a {
            display: block;
            padding-bottom: $pad-xs;
        }
    }
    .side-bar-edboard{
        @extend .border-dot;
        padding: $pad-lg 0;
        h4:first-child{
            margin-top: 0;
        }
        h4:last-child{
            margin-bottom: 0;
        }
    }
    .side-bar-interviews{
        @extend .border-dot;
        margin-bottom: $margin-lg;
    }
    .side-bar-conference{
        @extend .border-dot;
        padding-top: $pad-lg;
    }
}
