/**
 * Slideshow
 *
 */
.slideshow-container{
    a, .slide-header{
        color: $white;
        &:hover{
            color: $gray-light;
        }
    }
}
.slideshow{
    li {
        height: 240px;
    }
    .slide-header{
        margin: 0;
        padding: $pad-sm;
        text-align: center;
    }
}
.rslides_tabs{
    margin: 0;
    text-align: center;
    li{
        padding: $pad-xs;
    }
}
