/**
 * Typography
 *
 * All non-specific font declarations
 * and text styles.
 */


/* Document-Level --------------------------*/
html{
    font-size: 100%;
}
body {
    color: $black-1;
    font-size: $fontSizePara;
}

html, body {
    font-family: $font-sans;
    letter-spacing: 0.15px;
    line-height: 1.35;
}


/* Headings | Base --------------------------*/
 h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: bold;
    &.heavy {
        font-weight: 700;
    }
    &.caps {
        @extend .uppercase-titles;
    }
    &.clean {
        margin-top: 0 !important;
    }
}

/* Font Sizes --------------------------*/
h1, .h1 {
    font-size: $fontSizeH1;
    margin: 0.8rem 0;
    padding: 0;
}
h2, .h2 {
    font-size: $fontSizeH2;
    margin: 0.8rem 0;
}
h3, .h3 {
    font-size: $fontSizeH3;
}
h4, .h4 {
    font-size: $fontSizeH4;
    line-height:  $fontSizeH4*1.4;
    margin: 0.5em 0 0.5em 0;
}
h5, .h5 {
    font-size:  $fontSizeH5;
    margin: $margin-md 0;
}
h6 {
    font-size: $fontSizeH6;
    margin: $margin-md 0;
}
// p {
//     font-size: $paragraphFontSize;
// }

/* Link  --------------------------*/
a {
    font-weight: bold;
    @include transition(color 0.25s ease-out);
}
.gray-link{
    color: $gray-1!important;
}
.black-link{
    color: $black!important;
}


/* Special Text  --------------------------*/
.gray-header{
    background-color: $gray-2;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: $gray-1;
    border-left-width: thick;
    border-left-style: solid;
    border-left-color: $gray-1;
    color: $white;
    margin: $margin-sm 0;
    padding: $pad-xs $pad-md;
}
.gray-text{
    color: $gray-mid;
}
.lighten{
    color: $gray-1;
}

/* Buttons  --------------------------*/
a.button,
button.button {
    position: relative;
    display: inline-block;
    padding: 20px 38px 19px;
    @include border-radius(2px);
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    @extend .uppercase-titles;
    letter-spacing: 0.58px;
    @include transition(background 0.25s ease-out);
    @include get-bg-hover($gray-deep, 10%);

    span.icon {
        font-size: 25px;
    }

    &.full-width {
        display: block;
        width: 100%;
    }

    &:active {
        top: 1px;
    }

    /**
       * Colors
       */
    &.primary {
       @include get-bg-hover($accent, 3%);
    }
    &.secondary {
        @include get-bg-hover($blue-electric, 7%);
    }
    &.teal {
        @include get-bg-hover($teal, 4%);
    }

    &.small {
        text-transform: none;
        font-weight: 500;
        margin: 0 5px 10px 0;
        padding: 7px 10px;
    }

    &.end-cap {
        padding: 20px 28px 19px 68px;

        span.icon {
            position: absolute;
            top: 0;
            left: 0;
            background: $darkaccent;
            @include transition(background 0.25s ease-out)
            padding: 15px 16px;
            border-top-left-radius: 2px;
            width: 57.95px; // need to declare because of different icons
        }

        &:hover span.icon {
            background: lighten($darkaccent, 2%);
        }
    }

    &.minimal {
        background: transparent;
        border: 2px solid $gray-deep;
        color: $gray-deep;
    }

    &.large {
        font-weight: 500;
        font-size: 21px;
        text-transform: none;
        letter-spacing: 0.15px;

        span.icon {
            font-size: 15px;
        }
        span.icon-angle-right {
            margin-left: 6px;
        }
        span.icon-angle-left {
            margin-right: 6px;
        }
    }
}

button.button {
    border: none;
}

strong {
	font-weight: bold;
}
.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* MISC */
.tiny-font{
    font-size: $fontSizeTiny;
}
.small-font{
    font-size: small;
}
